{% extends "base.html" %}

{% block title %}{{ view.extra_context.title }} Task{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ view.extra_context.title }} Task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{{ view.extra_context.button_text }}</button>
            </form>
            <a href="{% url 'project_detail' view.kwargs.pk %}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
{% endblock %}
